@model EmployeeEditViewModel
@inject IEmployeeRepository _empRepository //need to inject it to find the total count == Total Employee count=@_empRepository.GetAllEmployee().Count()
@{
    ViewBag.Title = "Edit Employee";
    var photoPath = "~/Images/" + (Model.ExistingPhotoPath ?? "noimage.png");
}


<div asp-validation-summary="All" class="text-danger">
</div>
<form enctype="multipart/form-data" asp-action="edit" method="post" class="mt-3">
    <div class="form-group row">
        <input hidden asp-for="Id" /> <!--map it with id property of the EmployeeEditViewModel class-->
        <input hidden asp-for="ExistingPhotoPath" /> <!--map it with ExistingPhotopath property of the EmployeeEditViewModel class-->
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">

            <!--desplay any validation error related to property-->
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group row">

        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email">

            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group row">

        <label asp-for="Department" class="col-sm-2 col-form-label"></label> <div class="col-sm-10">
            <select asp-for="Department" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<Dept>()">
                <option value="">Please Select </option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>

        </div>
        @*  <div asp-validation-summary="All" class="text-danger">

        </div>*@




    </div>
    <div class="form-group row">

        <label asp-for="Photos" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photos" multiple class="form-control custom-file-input"/>
                <label class="custom-file-label">Click Here to change photo</label>
            </div>

        </div>

    </div>

    <div class="form-group row bs-tooltip-auto-sm-4 offset-4">
    <img src="@photoPath" class="imageThumbnail" asp-append-version="true"/>
    </div>
 @*   <div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
*@
    <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="home" asp-action="index" class="btn btn-primary"> Cancel</a>
        </div>
    </div>
    

    <!--we use this count to check addSinglton  AddTransient, AddScoped-->
    @* <div class="form-group row">

    <div class="col-sm-10">
    Total Employee count=@_empRepository.GetAllEmployee().Count(); @*// to acess_employeerepository we need to add
    //inject IEmployeeRepository _empRepository at top *@

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    //var fileLabel = $(this).next('.custom-file-label');
                    //var files = $(this)[0].files;
                    //if (files.length > 1) {
                    //    fileLabel.html(files.length + ' files selected');
                    //}
                    //else if (files.length = 1) {
                    //    fileLabel.html(files[0].name);
                    //}
                    //console.log($(this));
                   
                    var fileNmae=$(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileNmae);

                });
            })
        </script>
    }


</form>



